<div class="row no-gutters">
  <div class="col-4">
    <nav>
      <div class="col-auto py-4">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"><mat-icon>search</mat-icon></div>
          </div>
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroup"
            placeholder="Search"
          />
        </div>
      </div>

      <div>
        <div
          class="row align-items-end no-gutters p-3 account"
          *ngFor="let account of accounts; let i = index"
          (click)="singleAccount(account)"
          [routerLink]="['/chat', i + 1]"
          [queryParams]="{ id: account.id }"
        >
          <div class="col-3">
            <img [src]="account.image" class="w-75" alt="" />
            <div class="status" [ngClass]="account.status"></div>
          </div>
          <div class="col-6 px-0">
            <h4>{{ account.name }}</h4>
            <p class="mb-0">I tired to call you yesterday</p>
          </div>
          <div class="col-3">
            <span class="float-right">{{ account.time }}</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-8">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
